/* Global Variables */
:root {
  --blue: rgba(17, 26, 33, 1.0);
  --red: #d9544f;
  --green: #16a085;

  --primaryColour: var(--blue);
  --bgColour: #f3f3f3;
}

@custom-media    --mobile (width <= 640px);

/* https://github.com/postcss/postcss-custom-media */

/* EXAMPLE usage
	@media (--small-viewport) {
	  styles for small viewport
	}
*/

@custom-selector --heading h1, h2, h3, h4, h5, h6;

/* https://github.com/postcss/postcss-custom-selectors */

/* EXAMPLE usage
	.myDiv, --heading {
	  styles for above selectors
	}
*/