@import './_variables.css';

h1, nav, nav li {
	display: inline-block;
}
nav {
	float: right;
}
nav li {
	margin-left: 10px;
}

button {
	background: lightgray;
	border-radius: 10px;
	padding: 5px;
}

.page-1 {
	background: red;
}
.page-2 {
	background: blue;
}